<%- include("includes/head.ejs") %> 
<html>
<body style="background-color: peru;">
    <h2>This page belongs to @<%= data.name %></h2>
    <p>Followers : <%= data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Following : <%= data.following %> </p>
    <button>Follow</button>
    <button>message</button>
    <hr />
    <% for(let post of data.posts) { %> 
        <img src="<%= post.image %> " alt="some img" style="width: 10rem;" />
        <p>Likes : <%= post.likes %> &nbsp; &nbsp; &nbsp; Comments : <%= post.comments %> </p>
    <% } %> 
</body>
</html>